html, body, #root, .app {
  margin: 0;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing:border-box;
}

li {
  list-style-type: none;
}

.settings{
right:0;
margin:10px;
position:fixed;
}

.settings:hover { 
  transform: scale(1.05); 
  cursor: pointer;
}

.card {
  margin: 10px;
  width: 12em;
  height:15.75em;
  padding: 0.375em;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  display:flex;
  flex-direction:column;
  color:white;
  border: solid 2px;
  transition: all .2s ease-in-out;
  border-radius: 3px;
  flex:0 1 auto;
}

.card:hover { 
  transform: scale(1.05); 
  cursor: pointer;
}

.card hr {
  margin: 0 auto;
  width:75%;
  border-color:white;
  background-color:white;
}

.card-stats {
  display:flex;
  flex:3;
  font-weight:400;
}

.card-sub {
  justify-content: left;
  align-items:center;
  display:flex;
  flex:1;
  margin-left:0.75em;
}

.card-score {
  font-size:3rem;
  font-weight:700;
  display:flex;
  justify-content:center;
  flex:4;
  margin-left:-.9375em;
}

.card-name {
  flex:1;
  font-weight: 500;
  justify-content:center;
  display:flex;
  font-size:1.65rem;
  margin-top:.25em;
}

.gm-grid {
  display:flex;
  flex-wrap:wrap;
  margin: auto 10em;
  align-items:center;
  justify-content: center;
}

.theme-grid {
  display:flex;
  flex-wrap:wrap;
  margin: auto 2em;
  align-items:center;
  justify-content: center;
}

.wrapper {
  width:100%;
  height:auto;
  min-height:100vh;
  display:flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.settings-box {
  position:fixed;
  overflow:hide;
  top:0;
  right:-100;
  height: 100vh;
  width: 100%;
  transition: 0.4s ease-in;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.settings-wrapper {
  display:flex;
  flex-wrap:rows;
  justify-content:center;
  height:100%;
  background-color:white;
}

.team-button {
  width: 250px;
  height: 50px;
  border-bottom: solid 4px;
  font-size: 1rem;
  font-weight:700;
  display:flex;
  margin:10px;
  justify-content: center;
  align-items:center;
}

.team-button:hover { 
  transform: scale(1.05); 
  cursor: pointer;
}

.slide-in {
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.3s forwards;
  display:block;
}

.slide-out {
  animation: slide-out 0.3s forwards;
  -webkit-animation: slide-out 0.3s forwards;
  display:block;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
